body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}


.tombol button{
	font-size: 200px;
	cursor: pointer;
	padding: 35px;
	border-radius: 100%;
	height: 550px;
	outline: none;
	background: linear-gradient(to bottom, rgb(255, 99, 99), rgb(255, 15, 15));
	font-family: 'Viga', sans-serif;
}

.tombol button:hover {
	box-shadow: 0 8px 6px 0 rgba(0,0,0,0.8);
}

@media only screen and (max-width: 600px) {
	.tombol button {
		padding: 25px;
		height: 450px;
		font-size: 160px;
	}
}